@font-face {
  font-family: custom;
  src: url("./asset/Montserrat-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: custom;
}

body {
  background-color: #3aafa9;
}

/* body::-webkit-scrollbar {
  display: none;
} */

.overlay_menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 2000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all ease 0.5s;
  opacity: 0;
}

.overlay_menu .closeMenu {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  padding: 10px;
}

.overlay_menu > nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.overlay_menu > nav > a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: 800;
  margin: 10px 0px;
  font-size: x-large;
  border-radius: 10px 0 10px 0;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px black;
}

.overlay_menu > nav > a:hover,
.menu_selected {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.scrollToTop {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 1000;
  box-shadow: 0 0 5px black;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.25s;
}

section {
  position: relative;
  min-height: 100vh;
}

.home .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.home .header > a {
  display: none;
}

.home .header > nav > a {
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 0px 50px;
  font-weight: 500;
}

.home .header > nav > a:hover {
  color: yellow;
}

.home .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .content > h1 {
  color: white;
  font-size: 8em;
  font-weight: 800;
}

.home .content > p {
  font-size: 2em;
  font-weight: 800;
}

.home .main_btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 25px 50px;
  border-radius: 100px;
  background-color: white;
  font-weight: 900;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all ease 0.25s;
}

.home .main_btn:hover {
  box-shadow: 0 0 10px black;
  background-color: yellow;
  color: black;
}

.home .main_btn > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 100%);
  animation: scroll-Up-Down ease 1s infinite alternate-reverse;
}

@keyframes scroll-Up-Down {
  to {
    transform: translate(-50%, 110%);
  }
}

section:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: px;
}

section:nth-of-type(2) > div {
  width: 45%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 10px 10px 10px;
  border-radius: 50px;
}

section:nth-of-type(2) > div:first-of-type {
  background-color: white;
  box-shadow: 0 0 10px black;
}

section:nth-of-type(2) > div:last-of-type {
  background-color: black;
  box-shadow: 0 0 10px white;
}

section:nth-of-type(2) > div > img {
  width: 100%;
  object-fit: contain;
  max-height: 350px;
  margin: 10px 0;
}
section:nth-of-type(2) > div .card_content {
  margin: 10px;
  flex: 1;
  background-color: black;
  color: white;
  padding: 50px 25px 10px 25px;
  border-radius: 50px;
  font-size: 2em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section:nth-of-type(2) > div:last-of-type .card_content {
  background-color: white;
  color: black;
}

section:nth-of-type(2) > div .card_content > a {
  margin: 20px auto 0 auto;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: white;
  font-weight: 900;
  font-size: 1em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all ease 0.25s;
}

section:nth-of-type(2) > div .card_content > a:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px white;
}

section:nth-of-type(2) > div:last-of-type .card_content > a {
  background-color: black;
  color: white;
}

section:nth-of-type(2) > div:last-of-type .card_content > a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px black;
}

/* section 3 */

section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

section:nth-of-type(3) > div {
  margin: 20px;
  display: flex;
}

section:nth-of-type(3) > div:nth-of-type(2) {
  flex-direction: row-reverse;
}

section:nth-of-type(3) > div > img {
  flex: 1;
  width: 100%;
  object-fit: contain;
}

section:nth-of-type(3) > div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  font-size: 2.5em;
}

section:nth-of-type(3) > div > div > h1 {
  margin: 50px 0;
  color: yellow;
  font-weight: 600;
}

section:nth-of-type(3) > div > div > p {
  color: white;
  font-weight: 600;
}

section:nth-of-type(3) > div > div > p::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background-color: white;
  transform: translateY(-550%);
}

/* section 3 End*/

footer {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

/* Tablet */
@media (max-width: 1200px) {
}

/* Tablet End*/

/* Phone */

@media (max-width: 600px) {
  /* Home */
  .home .header {
    padding: 10px;
    max-height: 60px;
  }
  .home .header > .logo {
    width: 100px;
  }

  .home .header > .logo > img {
    width: 100%;
    object-fit: contain;
  }

  .home .header > a {
    display: block;
  }

  .home .header > nav {
    display: none;
  }

  .home .content {
    padding: 25px;
    width: fit-content;
  }

  .home .content > h1 {
    font-size: 2.5em !important;
  }

  .home .content > p {
    font-size: 1.5em !important;
  }

  .home .main_btn {
    bottom: 15%;
    width: max-content;
    padding: 10px;
  }

  .home .main_btn > img {
    width: 25px;
    transform: translate(-50%, 100%);
    animation: scroll-Up-Down ease 1s infinite alternate-reverse;
  }

  @keyframes scroll-Up-Down {
    to {
      transform: translate(-50%, 80%);
    }
  }

  /* Home End */

  /* Cards  */

  section:nth-of-type(2) {
    flex-direction: column;
  }

  #cards > div {
    width: unset;
    border-radius: unset;
  }

  #cards > div .card_content {
    margin: unset;
    border-radius: 5px;
    padding: 10px;
    font-size: unset;
  }

  #cards > div > img {
    max-height: 250px;
  }

  /* Cards End */

  /* section 3 */
  section:nth-of-type(3) {
    padding: unset;
  }
  section:nth-of-type(3) > div {
    flex-direction: column;
  }
  section:nth-of-type(3) > div:nth-of-type(2) {
    flex-direction: column;
  }

  section:nth-of-type(3) > div > div {
    padding: unset;
    font-size: unset;
  }
  /* section 3 End*/
}

/* Phone End*/
