@font-face {
  font-family: custom;
  src: url("../asset/JosefinSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: custom;
}

body {
  /* background-color: #3aafa9; */
  background: linear-gradient(60deg, #3aafa9, #2c3a47);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}
.scrollToTop {
  cursor: pointer;
  display: flex;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 1000;
  box-shadow: 0 0 5px black;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.25s;
}

.nav_header {
  position: sticky;
  top: 0;
  width: 100%;
  /* background-color: #a4b0be; */
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  box-shadow: 0 2px 1px 0 yellow;
  z-index: 1000;
  background-color: black;
  height: 60px;
}

.nav_header > .logo {
  margin: 10px;
  width: 100px;
  pointer-events: none;
}

.nav_header > .logo > img {
  width: 100%;
  object-fit: contain;
}

.nav_header > nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
}


.nav_header > nav::-webkit-scrollbar {
  display: none;
}

.nav_header > nav > a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: background-color ease 0.25s;
  font-size: large;
  min-width: max-content;
  /* mix-blend-mode: difference; */

}

.nav_header > nav > a:hover,
.active {
  border-bottom: 2px solid white;
}

.nav_menu {
  display: none;
}
section {
  position: relative;
  min-height: calc(100vh - 60px);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.home > img{
  background-color: black;
  position: absolute;
  width: 100%;
  object-fit: contain;
  z-index: 1;
  opacity: 0.5;
}

.home .content{
  z-index: 2;
  user-select: none;
}


.home .content > h1 {
  color: yellow;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 50px;
}

.home .content > p {
  color: white;
  font-size: 1.5em;
  font-weight: 800;
}
.home .content > p::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background-color: yellow;
  transform: translateY(-550%);
}

.home .main_btn {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.home .main_btn > a {
  padding: 15px 25px;
  border-radius: 100px;
  background-color: white;
  font-weight: 900;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all ease 0.25s;
}

.home .main_btn > a:hover {
  box-shadow: 0 0 10px black;
  background-color: yellow;
  color: black;
}

.home .main_btn > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 60%);
  animation: scroll-Up-Down ease 1s infinite alternate-reverse;
}

@keyframes scroll-Up-Down {
  to {
    transform: translate(-50%, 80%);
  }
}

section:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section:nth-of-type(2) > div {
  width: 30%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px 5px 5px 5px;
  border-radius: 25px;
}

section:nth-of-type(2) > div:first-of-type {
  background-color: white;
  box-shadow: 0 0 10px black;
}

section:nth-of-type(2) > div:last-of-type {
  background-color: black;
  box-shadow: 0 0 10px white;
}

section:nth-of-type(2) > div > img {
  width: 100%;
  object-fit: contain;
  max-height: 300px;
  margin: 10px 0;
}
section:nth-of-type(2) > div .card_content {
  margin: 10px;
  flex: 1;
  background-color: black;
  color: white;
  padding: 25px 15px 5px 15px;
  border-radius: 25px;
  font-size: 1em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section:nth-of-type(2) > div:first-of-type > .card_content {
  box-shadow: 0 0 5px black;
}

section:nth-of-type(2) > div:last-of-type > .card_content {
  box-shadow: 0 0 5px white;
}

section:nth-of-type(2) > div:last-of-type .card_content {
  background-color: white;
  color: black;
}

section:nth-of-type(2) > div .card_content > a {
  margin: 20px auto 0 auto;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: white;
  font-weight: 900;
  font-size: 1em;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: all ease 0.25s;
}

section:nth-of-type(2) > div .card_content > a:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 5px white;
}

section:nth-of-type(2) > div:last-of-type .card_content > a {
  background-color: black;
  color: white;
}

section:nth-of-type(2) > div:last-of-type .card_content > a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px black;
}

/* section 3 */

.about {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.about > div {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about > div > img {
  width: 100%;
  object-fit: cover;
  opacity: 0.75;
}

.about > div > div {
  padding: 70px;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 black;
  position: absolute;
  width: 60vw;
  position: absolute;
  color: white; 
  font-size:1.75em;
  font-weight: 400;
  user-select: none;
  text-align: justify;
}
.about > div > div > h1 {
  color: yellow;
  margin-bottom: 50px;
}

.about > div > div > p::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  background-color: yellow;
  transform: translateY(-550%);
}

/* section 3 End*/

footer {
  width: 100%;
  padding: 25px;
  background-color: black;
  color: white;
}
footer > ul {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-wrap: wrap;
}

footer > ul > li {
  margin: 10px;
  padding: 10px;
}

/* Tablet */
@media (max-width: 1200px) {
  /* Home */
  .home .header {
    padding: 20px;
    max-height: 100px;
  }
  .home .header > .logo {
    width: 150px;
  }

  .home .header > .logo > img {
    width: 100%;
    object-fit: contain;
  }

  .home .header > a {
    display: block;
  }

  .home .header > nav {
    display: none;
  }

  .home .content {
    padding: 25px;
    width: 60%;
  }

  .home .content > h1 {
    font-size: 4.5em !important;
  }

  .home .content > p {
    font-size: 2em !important;
  }

  .home .main_btn {
    bottom: 15%;
    font-size: large;
    width: max-content;
    padding: 20px 30px;
  }

  .home .main_btn > img {
    width: 30px;
    transform: translate(-50%, 100%);
    animation: scroll-Up-Down ease 1s infinite alternate-reverse;
  }

  @keyframes scroll-Up-Down {
    to {
      transform: translate(-50%, 120%);
    }
  }

  /* Home End */
  /* Cards  */

  section:nth-of-type(2) {
    flex-direction: column;
    padding: 50px;
  }

  section:nth-of-type(2) > div {
    width: 100%;
    align-items: center;
    max-width: unset;
    flex-direction: row;
    padding: 10px;
  }

  #cards > div:last-of-type {
    margin-top: 20px;
    flex-direction: row-reverse;
  }

  #cards > div > img {
    width: 50%;
    flex: 1;
  }

  /* Cards End */

  /* section 3 */

  .about {
    padding: unset;
    background-color: dimgrey;
  }
  .about > div {
    flex-direction: column;
    padding: 20px;
  }

  .about > div > img {
    opacity: unset;
  }
  .about > div > div {
    position: unset;
    padding: unset;
    width: unset;
    text-align: unset;
    font-size: unset;
    word-spacing: unset;
  }
  .about > div > div > h1 {
    margin-top: 10px;
  }

  /* section 3 End*/
}

/* Tablet End*/

/* Phone */

@media (max-width: 800px) {
  /* Home */

  .nav_header {
    height: 60px;
    flex-direction: column;
    transition: all ease 0.5s;
    align-items: unset;
  }
  .nav_header > nav {
    display: none;
    padding: unset;
    width: 100%;
    flex-direction: column;
  }
  .nav_header > nav > a {
    display: none;
    background-color: unset !important;
    margin: 10px;
    width: 80%;
    text-align: start;
  }
  .nav_header > nav > a:hover,
  .active {
    background-color: unset !important;
    padding: 14px 15px;
    border-bottom: 2px solid;
    border-radius: 2px;
  }
  .nav_menu {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    margin: 15px !important;
    padding: unset !important;
    width: auto !important;
    display: block !important;
  }
  .nav_header > nav > .nav_menu:hover {
    width: auto;
    background-color: unset !important;
    padding: unset !important;
    margin: 15px !important;
    border-bottom: unset !important;
    border-radius: unset !important;
  }

  .home .content {
    padding: 25px;
    width: fit-content;
  }

  .home .content > h1 {
    font-size: 2.5em !important;
  }

  .home .content > p {
    font-size: 1.5em !important;
  }

  .home .main_btn > a {
    bottom: 15%;
    width: max-content;
    font-size: unset;
    padding: 15px 25px;
  }

  .home .main_btn > img {
    width: 25px;
    transform: translate(-50%, 100%);
    animation: scroll-Up-Down ease 1s infinite alternate-reverse;
  }

  @keyframes scroll-Up-Down {
    to {
      transform: translate(-50%, 80%);
    }
  }

  /* Home End */
  /* Cards  */

  section:nth-of-type(2) {
    flex-direction: column;
    padding: unset;
  }

  section:nth-of-type(2) > div {
    max-width: 550px;
    flex-direction: column;
    width: unset;
    border-radius: unset;
  }

  #cards > div:last-of-type {
    margin: unset;
    flex-direction: column;
  }
  #cards > div .card_content {
    margin: unset;
    border-radius: 5px;
    padding: 10px;
    font-size: unset;
  }

  #cards > div > img {
    width: 100%;
    max-height: 250px;
  }

  /* Cards End */

  /* section 3 */

  .about {
    padding: unset;
  }
  .about > div {
    flex-direction: column;
    padding: 10px;
  }

  .about > div > img {
    border-radius: 15px;
    opacity: unset;
  }
  .about > div > div {
    position: unset;
    padding: unset;
    width: unset;
    font-size: unset;
    box-shadow: unset;
  }
  .about > div > div > h1 {
    margin-top: 10px;
  }

  /* section 3 End*/
  /* fotter */
  footer {
    padding: 30px;
  }
  footer > ul > li {
    margin: 10px;
    padding: 10px;
  }
  /* fotter End*/
}

/* Phone End*/

/* Animations */

@keyframes PopRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes PopLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
